#sb-hive-input {
  color: green;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  line-height: 40px;
  height: 40px;
  padding-top: 2px;
  padding-right: 14px;
  text-align: center;
}

#word-list-container {
  border: thin solid black;
  border-radius: 5px;
  height: 500px;
  width: 50%;
  margin-left: 20%;
}

.main-char {
  color: #f8cd05;
}

.invalid-char {
  color: #dcdcdc;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
